.App {
  height: 100vh;
  display: flex;
  border: 1px solid red;
  padding: 12px;
  flex-direction: column;
}

img {
  width: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  border-radius: 8px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.form > label {
  margin: 4px;
  font-weight: bold;
}

.card {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.card > div {
  width: 100%;
}

.successStatus {
  background-color: rgb(74, 245, 165) ;
}