:root {
  --main-bg-color: #1a1b1c;
  --verde-claro: #2fc18c;
  --verde-escuro: #036b52;
  --azul: #006dfb;
  --roxo: #41197f;
  --roxo-claro: #8958a3;
  --color-light: #adf;
  --azul-dark: #17437b;
  --radius: 0.2rem;
  --vermelho: #ff0043;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: tahoma;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  font-size: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
}

::selection {
  background-color: var(--roxo-claro);
}

h1,
h2,
h3 {
  color: var(--verde-claro);
}

input,
textarea {
  display: block;
  border: 1px solid #262626;
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius);
  background: #262626;
  transition: 0.2s;
  margin-bottom: 16px;
  color: #b3b3b3;
  transition: 0.5s ease-in-out all;
}

input:focus,
textarea:focus {
  outline: none;
  background: white;
  border-color: var(--verde-escuro);
  color: var(--main-bg-color);
}
button {
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  transition: 0.1s;
  background: var(--azul);
  color: white;
  padding: 0.8rem 1.6rem;
}

button:hover,
button:focus {
  /* background: var(--azul-dark);
  box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--azul); */

  background: var(--verde-claro);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--verde-claro), 0 0 25px var(--verde-claro),
    0 0 50px var(--verde-claro), 0 0 100px var(--verde-claro);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 3px var(--azul), 0 0 0 4px var(--roxo);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 16px;
}
